<!DOCTYPE html>
<html>

<head>
  <title>飲料列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Bootstrap CSS -->
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/all.css">
  <script src="javascripts/vendor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
</head>

<body class="bg-lighter">
  <div class="container main my-5">
    <div class="row">
      <main class="col post">
        <div id="app">
          <div class="container gx-2">
            <div class="row gx-3 bg-light py-3">
              <div class="col-md-4">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action" :class="{'active' : temp.name== item.name}"
                    v-for="item in products" :key="item.name" @click.prevent="tempAdd(item)">
                    <h6 class="card-title mb-1">{{item.name}}</h6>
                    <div class="d-flex align-items-center justify-content-between">
                      <p class="mb-0"><small>{{item.engName}}</small></p>
                      <p class="mb-0"><small>{{item.price}}</small></p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-2">
                  <div v-if="!temp.hasOwnProperty('name')"
                    class="position-absolute text-white d-flex align-items-center justify-content-center"
                    style="top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, 0.65); z-index: 100;">
                    請先選擇飲品</div>
                  <div class="card-body px-4">
                    <div class="mb-3">
                      <label for="productNum" class="form-label">數量</label>
                      <input type="number" class="form-control" id="productNum" placeholder="數量" min="0"
                        v-model="temp.count">
                    </div>
                    <div class="mb-3">
                      <label for="ice" class="form-label d-block">冰塊*</label>
                      <div class="form-check form-check-inline" v-for="(ice,key) in iceType" :key="'ice' + key">
                        <input class="form-check-input" name="iceType" type="radio" id="'ice' + key" :value="ice"
                          v-model="temp.ice"
                          :disabled="!temp.hasOwnProperty('defaults') || (temp.defaults.ice !== '' && temp.defaults.ice !== ice)">
                        <label class="form-check-label" :for="'ice' + key">{{ice}}</label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="sugar" class="form-label d-block">甜度*</label>
                      <div class="form-check form-check-inline" v-for="(sugar,key) in sugarType" :key="'sugar'+key">
                        <input class="form-check-input" name="sugarType" type="radio" id="'sugar'+key"
                          v-model="temp.sugar" :value="sugar"
                          :disabled="!temp.hasOwnProperty('defaults') || (temp.defaults.sugar !== '' && temp.defaults.sugar !== sugar)">
                        <label class="form-check-label" for="'sugar'+key">{{sugar}}</label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="toppings" class="form-label d-block">加料</label>
                      <div class="form-check form-check-inline" v-for="(toppings,key) in toppingsType"
                        :key="'toppings'+key">
                        <input class="form-check-input" type="checkbox" id="'toppings'+key" v-model="temp.toppings"
                          :value="toppings"
                          :disabled="!temp.hasOwnProperty('defaults') || (temp.defaults.toppings !== [''] && temp.defaults.toppings == toppings)"
                          :checked="!temp.hasOwnProperty('defaults') || (temp.defaults.toppings !== [''] && temp.defaults.toppings == toppings)">
                        <label class="form-check-label" :for="'toppings'+key">{{toppings}}</label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="productNotice" class="form-label">備註</label>
                      <textarea class="form-control" id="productNotice" rows="2" v-model="temp.commit"></textarea>
                    </div>
                    <div class="d-flex gap-2">
                      <button class="btn btn-outline-primary w-100" type="button">取消</button>
                      <button class="btn btn-primary w-100" type="button" @click="addToOrder(temp)">加入</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">品項</th>
                          <th scope="col">冰塊</th>
                          <th scope="col">甜度</th>
                          <th scope="col">加料</th>
                          <th scope="col">單價</th>
                          <th scope="col">數量</th>
                          <th scope="col">小計</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item,key) in orderList" :key="'order'+key">
                          <th scope="row">{{item.name}}<br>
                            <small class="text-muted fw-normal">備註：{{item.commit}}</small>
                          </th>
                          <td>{{item.ice}}</td>
                          <td>{{item.sugar}}</td>
                          <td>{{item.toppings.toString()}}</td>
                          <td>{{item.price + item.toppings.length*10 }}</td>
                          <td>{{item.count}}</td>
                          <td class="text-end">{{item.total}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="text-end">共 NT$ {{orderTotal}} 元</p>
                    <button class="btn btn-sm btn-secondary w-100" @click="generateOrder(orderList,orderTotal)"
                      :disabled="orderList.length===0">產生訂單</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-light p-3 mt-3">
            <div class="bg-white p-3 d-flex flex-column" style="min-height: 450px;">
              <table class="table" v-for="(item,key) in checkedOrder.orders" :key="'order'+key">
                <thead>
                  <tr>
                    <th scope="col">品項</th>
                    <th scope="col">冰塊</th>
                    <th scope="col">甜度</th>
                    <th scope="col">加料</th>
                    <th scope="col">單價</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{item.name}}<br>
                      <small v-if="item.commit!==''" class="text-muted fw-normal">備註：{{item.commit}}</small>
                    </th>
                    <td>{{item.ice}}</td>
                    <td>{{item.sugar}}</td>
                    <td>{{item.toppings.toString()}}</td>
                    <td>{{item.price+item.toppings.length*10}}</td>
                    <td>{{item.count}}</td>
                    <td class="text-end">{{item.total}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="mt-3 mb-1">訂單成立時間：{{checkedOrder.time}}</p>
              <p class="mb-1">訂單數： {{checkedOrder.orders.length}}</p>
              <p class="mb-1">付款狀態：未付款</p>
              <p class="text-end mt-auto">共 NT$ {{checkedOrder.total}}元</p>
            </div>
          </div>
        </div>

        <script>
          const App = {
            data() {
              return {
                iceType: ['正常冰', '少冰', '微冰', '去冰', '熱'],
                sugarType: ['全糖', '七分', '半糖', '三分', '無糖'],
                toppingsType: ['珍珠', '粉條', '小粉圓', '椰果', '芋頭'],
                temp: {}, //暫時選擇飲料的物件
                orderList: [], //調整完的飲料的陣列
                orderTotal: 0,
                checkedOrder: {
                  time: '',
                  orders: [],
                  total: 0
                },
                products: [
                  {
                    name: '珍珠鮮奶茶',
                    engName: 'Pearl Milk Tea',
                    price: 60,
                    defaults: {
                      toppings: ['珍珠'],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '椰果鮮奶茶',
                    engName: 'Coconut Milk Tea',
                    price: 60,
                    defaults: {
                      toppings: ['椰果'],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '鮮奶茶',
                    engName: 'Milk Tea',
                    price: 50,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '古意冬瓜茶 (糖固定)',
                    engName: 'Winter Melon Drink',
                    price: 30,
                    defaults: {
                      toppings: [''],
                      sugar: '全糖',
                      ice: '',
                    }
                  },
                  {
                    name: '蜜香紅茶',
                    engName: 'Black Tea',
                    price: 30,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '包種青茶',
                    engName: 'Black Tea',
                    price: 35,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '檸檬烏龍',
                    engName: 'Lemon Oolong Tea',
                    price: 55,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '薑母茶 (熱飲)',
                    engName: 'Ginger Tea',
                    price: 55,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '熱',
                    }
                  },
                  {
                    name: '青草茶',
                    engName: 'Herbal Tea',
                    price: 35,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '金桔檸檬',
                    engName: 'Kumquat Lemonade',
                    price: 40,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                  {
                    name: '柳澄青茶',
                    engName: 'Orange Mountain Tea',
                    price: 45,
                    defaults: {
                      toppings: [''],
                      sugar: '',
                      ice: '',
                    }
                  },
                ],
              }
            },
            methods: {
              //選擇飲品
              tempAdd(item) {
                this.temp = {
                  count: '1',
                  ice: item.defaults.ice !== '' ? item.defaults.ice : '正常冰',
                  sugar: item.defaults.sugar !== '' ? item.defaults.sugar : '全糖',
                  toppings: [],
                  commit: '',
                  ...item
                };
              },
              //加入品項
              addToOrder(temp) {
                this.orderList.push(Object.assign({},
                  {
                    ...temp,
                    total: (temp.price + temp.toppings.length * 10) * temp.count,
                  }))
                this.countTotal();
                this.tempAddReset();
              },
              //計算總價
              countTotal() {
                this.orderTotal = this.orderList.reduce((acc, obj) => acc + obj.total, 0);
              },
              //清空暫時訂單
              tempAddReset() {
                this.temp = {};
              },
              //產生訂單
              generateOrder(orders, total) {
                this.orderTotal = 0;
                const date = new Date().toLocaleString();
                this.checkedOrder.time = date;
                this.checkedOrder.orders = orders;
                this.checkedOrder.total = total;
                this.orderList = [];
                this.tempAddReset();
              }
            }
          };

          Vue.createApp(App).mount('#app');
        </script>
        <!-- 🙇🙇練習結束🙇🙇 -->
      </main>

      

    </div>
  </div>

  
  <link rel="stylesheet" href="/stylesheets/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>

</html>